<!DOCtype>
<html ng-app="app_form">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    
    </head>
    <body>
        
        <div ng-controller="app_ctrl">
        
        <div form> </div>
            
            <records-table> </records-table>
        
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/js/app_form.js"></script>
        <script type="text/javascript" src="/js/controllers/app_ctrl.js"></script>
        <script type="text/javascript" src="/js/services/person_service.js"></script>
        <script type="text/javascript" src="/js/directives/records_table.js"></script>
        <script type="text/javascript" src="/js/directives/form.js"></script>
        
        
        
    
    </body>
    

</html>